
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#">Adex-Ops</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul  class="nav navbar-nav"><li >
              <a routerLink="/home">
                  <i class="glyphicon glyphicon-home"></i>
                  Home
              </a>
        
          </li></ul>
          
          <ul class="nav navbar-nav">
              <li >
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="glyphicon glyphicon-duplicate"></i><span>Logs</span> 
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/loadlog">Load Log</a></li>
                    <li><a routerLink="/calllog">Call Log</a></li>
                    <li><a routerLink="/programlog">Program Log</a></li>
                </ul>
                </ul>
          
        <ul class="nav navbar-nav">
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-record"></i>
                    Target
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-transfer"></i>
                    EMS
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-search"></i>
                    Search
                </a>
            </li>
        </ul>
      
        
      </div>
    </div>
  </nav>

